---
import Topbar from "src/layouts/Topbar.astro";
import Layout from "../layouts/Layout.astro";
import Header from "src/layouts/Header.astro";
import { container_father } from '../utils/Containers';
import ComponentFather from "src/components/ComponentFather.astro";

import Componente_metas_cobr from "./cobranza/metas_cobr";
import Componente_graphic_cobr_bs from "./cobranza/graphic_cobr_bs";
import Componente_graphic_cobr_ref from "./cobranza/graphic_cobr_ref";
import Componente_table_cobranza from "./cobranza/table_cobranza";
---

<Layout title="Cobranza - CLO">
  <!-- Header -->
  <Header />
  <div class="flex flex-col">
    <!-- Topbar -->
    <div>
      <Topbar />
      <div class="hr-custom"></div>
    </div>

    <!-- Content -->
    <div id="content" class="w-full">
      <!-- Container #1: Cobranza -->
      <div id="container-cobranza" class={`${container_father}`}>
        <!-- Subcontainer 1.1: Cobranza realizada -->
        <ComponentFather
          title={"Cobranza realizada"}
          containerId={"cobranza_1-1"}
        >
          <Componente_metas_cobr client:load />
        </ComponentFather>

        <!-- Subcontainer 1.2: Cobranza (gráfico $) -->
        <ComponentFather
          title={"Cobranza realizada ($)"}
          containerId={"cobranza_1-2"}
        >
          <Componente_graphic_cobr_ref client:load />
        </ComponentFather>
      </div>

      <!-- Container #2: Detalle de cobranza -->
      <div id="container-cobranza-details" class={`${container_father}`}>
        <!-- Subcontainer 2.1: Detalles de cobranza -->
        <ComponentFather
          title={"Detalle de cobranza"}
          containerId={"cobranza_2-1"}
        >
          <Componente_table_cobranza client:load />
        </ComponentFather>
      </div>
    </div>
  </div>
</Layout>