---
import Topbar from "src/layouts/Topbar.astro";
import Layout from "../layouts/Layout.astro";
import Header from "src/layouts/Header.astro";
import { container_father } from '../utils/Containers';
import ComponentFather from "src/components/ComponentFather.astro";

import Componente_metas_venta_gnrl from "./facturacion/MetasVentaGnrl";
import Componente_graphic_venta from "./facturacion/GraphicVenta";
import Componente_table_facturacion from "./facturacion/TableFacturacion"
---

<Layout title="Facturación - CLO">
  <!-- Header -->
  <Header />
  <div class="flex flex-col">
    <!-- Topbar -->
    <div>
      <Topbar />
      <div class="hr-custom"></div>
    </div>

    <!-- Content -->
    <div id="content" class="w-full">
      <!-- Container #1: Ventas -->
      <div id="container-ventas" class={`${container_father}`}>
        <!-- Subcontainer 1.1: Meta de ventas general -->
        <ComponentFather
          title={"Meta de ventas general"}
          containerId={"facturacion_1-1"}
        >
          <Componente_metas_venta_gnrl client:load />
        </ComponentFather>

        <!-- Subcontainers 1.2: Facturación (gráfico) -->
        <ComponentFather
          title={"Gráfico de ventas"}
          containerId={"facturacion_1-2"}
        >
          <Componente_graphic_venta client:load />
        </ComponentFather>
      </div>

      <!-- Container #2: Facturación  -->
      <div id="container-facturacion" class={`${container_father}`}>
        <!-- Subcontainer 2.1: Tabla de facturación -->
        <ComponentFather
          title={"Detalle de facturación"}
          containerId={"facturacion_2-1"}
        >
          <Componente_table_facturacion client:load />
        </ComponentFather>
      </div>
    </div>
  </div>
</Layout>