---
import Layout from "../layouts/Layout.astro";
import AuthValidator from '../components/AuthValidator';
import Logout from "src/components/Logout.tsx";

---

<Layout title="¡Bienvenido! - CLO">
	<main>
    <Logout />
    <AuthValidator client:load />
	</main>
</Layout>
