---
import Topbar from "src/layouts/Topbar.astro";
import Layout from "../layouts/Layout.astro";
import Header from "src/layouts/Header.astro";
import { container_father } from '../utils/Containers';
import ComponentFather from "src/components/ComponentFather.astro";


// Ventas - Facturación
import ComponenteMetaPedidos from './pedidos/_MetaPedidos';
import ComponenteMetasPddsGnrl from './pedidos/_MetasPddsGnrl'
import ComponenteGraphicPedidos from './pedidos/_GraphicPedidos'
import ComponenteCarteraPedidos from './pedidos/_CarteraPedidos'
// Cobranza
import ComponenteMetasCobr from './cobranza/_MetasCobr'
import ComponenteGraphicCobrRef from './cobranza/_GraphicCobrRef'
import ComponenteCobranzaCXC from './cobranza/_CobranzaCXC'
// Asesores
import ComponentePorcentajeCXC from './cobranza/_PorcentajeCXC'
import ComponenteTableAsesor from './home/_TableAsesor'
import ComponenteTableDaysDetail from './home/_TableDaysDetail'
import ComponenteGraphicAnalysis from './home/_GraphicAnalysis'

---

<Layout title="Inicio - CLO">
  <!-- Header -->
  <Header />
  <div class="flex flex-col">
    <!-- Topbar -->
    <div>
      <Topbar />
      <div class="hr-custom"></div>
    </div>

    <!-- Content -->
    <div id="content" class="w-full">
      <!-- Container #1: Ventas -->
      <div id="container-ventas" class={`${container_father}`}>
        <!-- Subcontainer 1.1: Avance de la meta -->
        <ComponentFather
          title={"Avance de la meta del mes (pedidos)"} 
          containerId={"home_1-1"} 
          urlBtnText={"/pedidos"}
        >
          <ComponenteMetaPedidos client:load />
        </ComponentFather>

        <!-- Subcontainer 1.2: Meta de ventas general -->
        <ComponentFather
          title={"Meta de pedidos general"}
          containerId={"home_1-2"}
          urlBtnText={"/pedidos"}
        >
          <ComponenteMetasPddsGnrl client:load />
        </ComponentFather>

        <!-- Subcontainer 1.3: Ventas (pedido) -->
        <ComponentFather
          title={"Gráfico de pedidos"}
          containerId={"home_1-3"}
          urlBtnText={"/pedidos"}
        >
          <ComponenteGraphicPedidos client:load />
        </ComponentFather>

        <!-- Subcontainer 1.4: Cartera -->
        <ComponentFather
          title={"Cartera"}
          containerId={"home_1-4"}
          urlBtnText={"/clientes"}
        >
          <ComponenteCarteraPedidos client:load />
        </ComponentFather>
      </div>

      <!-- Container #2: Cobranza -->
      <div id="container-cobranza" class={`${container_father}`}>
        <!-- Subcontainer 2.1: Cobranza realizada -->
        <ComponentFather
          title={"Cobranza realizada"}
          containerId={"home_2-1"}
          urlBtnText={"/cobranza"}
        >
          <ComponenteMetasCobr client:load />
        </ComponentFather>
                
        <!-- Subcontainer 2.2: Cobranza (gráfico $) -->
        <ComponentFather
          title={"Cobranza realizada ($)"}
          containerId={"home_2-2"}
          urlBtnText={"/cobranza"}
        >
          <ComponenteGraphicCobrRef client:load />
        </ComponentFather>

        <!-- Subcontainer 2.3: Cobranza por día ($) -->
        <ComponentFather
          title={"Cobranza por día ($)"}
          containerId={"home_2-3"}
          urlBtnText={"/cobranza"}
        >
          <ComponentePorcentajeCXC client:load />
        </ComponentFather>
        
        <!-- Subcontainer 2.4: Cobranza por día -->
        <ComponentFather
          title={"Cobranza por día"}
          containerId={"home_2-4"}
          urlBtnText={"/cobranza"}
        >
          <ComponenteCobranzaCXC client:load />
        </ComponentFather>
      </div>

      <!-- Container #3: Asesores -->
      <div id="container-asesores"  class={`${container_father}`}>        
        <!-- Subcontainer 3.1: Detalles por vendedor -->
        <ComponentFather
          title={"Detalles por vendedor"}
          containerId={"home_3-1"}
          urlBtnText={"/vendedores"}
        >
          <ComponenteTableAsesor client:load />
        </ComponentFather>
        
        <!-- Subcontainer 3.2: Detalle por día -->
        <ComponentFather
          title={"Detalles por día"}
          containerId={"home_3-2"}
          urlBtnText={""}
        >
          <ComponenteTableDaysDetail client:load />
        </ComponentFather>
        
        <!-- Subcontainer 3.3: Análisis gráfico  -->
        <ComponentFather
          title={"Análisis gráfico"}
          containerId={"home_3-3"}
          urlBtnText={""}
        >
          <ComponenteGraphicAnalysis client:load />
        </ComponentFather>
      </div>
    </div>
  </div>
</Layout>