---
import Topbar from "src/layouts/Topbar.astro";
import Layout from "../layouts/Layout.astro";
import Header from "src/layouts/Header.astro";
import { container_father } from '../utils/Containers';
import ComponentFather from "src/components/ComponentFather.astro";


// Ventas - Facturación
import Componente_meta_pedidos from './pedidos/MetaPedidos';
import Componente_metas_pdds_gnrl from './pedidos/MetasPddsGnrl'
import Componente_graphic_pedidos from './pedidos/GraphicPedidos'
import Componente_cartera_pedidos from './pedidos/CarteraPedidos'
// Cobranza
import Componente_metas_cobr from './cobranza/MetasCobr'
import Componente_graphic_cobr_bs from './cobranza/GraphicCobrBs'
import Componente_graphic_cobr_ref from './cobranza/GraphicCobrRef'
import Componente_cobranza_cxc from './cobranza/CobranzaCXC'
// Asesores
import Componente_porcentaje_cxc from './cobranza/PorcentajeCXC'
import Componente_table_asesor from './home/TableAsesor'
import Componente_table_days_detail from './home/TableDaysDetail'
import Componente_graphic_analysis from './home/GraphicAnalysis'

---

<Layout title="Inicio - CLO">
  <!-- Header -->
  <Header />
  <div class="flex flex-col">
    <!-- Topbar -->
    <div>
      <Topbar />
      <div class="hr-custom"></div>
    </div>

    <!-- Content -->
    <div id="content" class="w-full">
      <!-- Container #1: Ventas -->
      <div id="container-ventas" class={`${container_father}`}>
        <!-- Subcontainer 1.1: Avance de la meta -->
        <ComponentFather
          title={"Avance de la meta (pedidos)"} 
          containerId={"home_1-1"} 
          urlBtnText={"/pedidos"}
        >
          <Componente_meta_pedidos client:load />
        </ComponentFather>

        <!-- Subcontainer 1.2: Meta de ventas general -->
        <ComponentFather
          title={"Meta de pedidos general"}
          containerId={"home_1-2"}
          urlBtnText={"/pedidos"}
        >
          <Componente_metas_pdds_gnrl client:load />
        </ComponentFather>

        <!-- Subcontainer 1.3: Ventas (pedido) -->
        <ComponentFather
          title={"Gráfico de pedidos"}
          containerId={"home_1-3"}
          urlBtnText={"/pedidos"}
        >
          <Componente_graphic_pedidos client:load />
        </ComponentFather>

        <!-- Subcontainer 1.4: Cartera -->
        <ComponentFather
          title={"Cartera"}
          containerId={"home_1-4"}
          urlBtnText={""}
        >
          <Componente_cartera_pedidos client:load />
        </ComponentFather>
      </div>

      <!-- Container #2: Cobranza -->
      <div id="container-cobranza" class={`${container_father}`}>
        <!-- Subcontainer 2.1: Cobranza realizada -->
        <ComponentFather
          title={"Cobranza realizada"}
          containerId={"home_2-1"}
          urlBtnText={"/cobranza"}
        >
          <Componente_metas_cobr client:load />
        </ComponentFather>
        
        <!-- Subcontainer 2.2: Cobranza (gráfico Bs) -->
        <ComponentFather
          title={"Cobranza realizada (Bolivares)"}
          containerId={"home_2-2"}
          urlBtnText={"/cobranza"}
        >
          <Componente_graphic_cobr_bs client:load />
        </ComponentFather>
        
        <!-- Subcontainer 2.3: Cobranza (gráfico $) -->
        <ComponentFather
          title={"Cobranza realizada ($)"}
          containerId={"home_2-3"}
          urlBtnText={"/cobranza"}
        >
          <Componente_graphic_cobr_ref client:load />
        </ComponentFather>
        
        <!-- Subcontainer 2.4: Cobranza por día -->
        <ComponentFather
          title={"Cobranza por día"}
          containerId={"home_2-4"}
          urlBtnText={"/cobranza"}
        >
          <Componente_cobranza_cxc client:load />
        </ComponentFather>
      </div>

      <!-- Container #3: Asesores -->
      <div id="container-asesores"  class={`${container_father}`}>
        <!-- Subcontainer 3.1: Cobranza por día ($) -->
        <ComponentFather
          title={"Cobranza por día ($)"}
          containerId={"home_3-1"}
          urlBtnText={"/cobranza"}
        >
          <Componente_porcentaje_cxc client:load />
        </ComponentFather>
        
        <!-- Subcontainer 3.2: Detalles por vendedor -->
        <ComponentFather
          title={"Detalles por vendedor"}
          containerId={"home_3-2"}
          urlBtnText={"/vendedores"}
        >
          <Componente_table_asesor client:load />
        </ComponentFather>
        
        <!-- Subcontainer 3.3: Detalle por día -->
        <ComponentFather
          title={"Detalles por día"}
          containerId={"home_3-3"}
          urlBtnText={""}
        >
          <Componente_table_days_detail client:load />
        </ComponentFather>
        
        <!-- Subcontainer 3.4: Análisis gráfico  -->
        <ComponentFather
          title={"Análisis gráfico"}
          containerId={"home_3-4"}
          urlBtnText={""}
        >
          <Componente_graphic_analysis client:load />
        </ComponentFather>
      </div>
    </div>
  </div>
</Layout>