---
import Topbar from "src/layouts/Topbar.astro";
import Layout from "../layouts/Layout.astro";
import Header from "src/layouts/Header.astro";

import Componente_c1_1_p1 from './home/c1_1_p1';
import Componente_c1_1_p2 from './home/c1_1_p2';

const containers_colors = "#fbfbfb";
const containers = "flex";
const subcontainers = `flex flex-col m-2 p-2 w-[calc(100%-1rem)] border-1 border-[var(--colors-04)]/25 max-w-full shadow-xl rounded-md bg-[${containers_colors}]`;
const containers_titles = "font-rFont font-bold text-[var(--colors-03)] text-[1.25rem]";

const containers_width = {
  'c_1-1':        'w-1/1 md:w-1/1 lg:w-1/2 xl:w-1/3 2xl:w-1/3',
  'c_1-2':        'w-1/1 md:w-1/2 lg:w-1/2 xl:w-1/3 2xl:w-1/3',
  'c_1-3':        'w-1/1 md:w-1/2 lg:w-1/2 xl:w-1/3 2xl:w-1/3',
  'c_1-4':        'w-1/1 md:w-1/1 lg:w-1/2 xl:w-1/1 2xl:w-1/1',
  'c_1-4_grid':   'grid-cols-2 md:grid-cols-2 lg:grid-cols-4',
  'c_2-1':        'w-1/1 md:w-1/1 lg:w-1/2 xl:w-1/3 2xl:w-1/3',
  'c_2-2':        'w-1/1 md:w-1/2 lg:w-1/2 xl:w-1/3 2xl:w-1/3',
  'c_2-3':        'w-1/1 md:w-1/2 lg:w-1/2 xl:w-1/3 2xl:w-1/3',
  'c_2-4':        'w-1/1 md:w-1/1 lg:w-1/1 xl:w-1/1 2xl:w-1/1',
  'c_3-1':        'w-1/1 md:w-1/2 lg:w-1/3 xl:w-1/3 2xl:w-1/3',
  'c_3-2':        'w-1/1 md:w-1/2 lg:w-2/3 xl:w-2/3 2xl:w-2/3',
  'c_3-3':        'w-1/1 md:w-1/2 lg:w-1/3 xl:w-1/3 2xl:w-1/3',
  'c_3-4':        'w-1/1 md:w-1/2 lg:w-2/3 xl:w-2/3 2xl:w-2/3',
};
---

<Layout title="Inicio - CLO">
    <!-- Header -->
  <Header />
  <div class="flex flex-col">
    <!-- Topbar -->
    <div>
      <Topbar />
      <div class="hr-custom"></div>
    </div>

    <!-- Content -->
    <div id="content-index" class="w-full">
      <div id="container-ventas">
        <div class="w-full flex flex-wrap">
          <!-- Subcontainer 1.1: Anvace de la meta -->
            <div class={`${containers} ${containers_width['c_1-1']}`}>
              <div class={`${subcontainers}`}>
                <p class={`${containers_titles}`}>
                  Avance de la meta (ventas)
                </p>
                <div class="flex justify-center items-center">
                  <Componente_c1_1_p1 client:load />
                </div>
                <div class="w-full grid grid-cols-2 gap-4 h-full">
                  <Componente_c1_1_p2 client:load />
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</Layout>

<!-- 
  c1_!: http://192.168.0.40:8000/api/manager/stadistic/sum/g01
  c1_2: http://192.168.0.40:8000/api/manager/stadistic/g99

-->