---
import Layout from "../layouts/Layout.astro";
import AuthValidator from '../components/AuthValidator';
---

<Layout title="¡Bienvenido! - CLO">
	<main>
    {/* ... Tu componente AuthDisplay, si lo necesitas */}
    <br>
		<a 
      href="#" 
      id="logout-button"
    >
      Logout
    </a>
    <AuthValidator client:load />
	</main>
</Layout>

<script>
  import { AuthLogout } from '../utils/AuthLogout';

  const logoutButton = document.getElementById('logout-button');

  if (logoutButton) {
    logoutButton.addEventListener('click', (e) => {
      e.preventDefault(); 
      AuthLogout(); 
    });
  }
</script>