---
import Topbar from "src/layouts/Topbar.astro";
import Layout from "../layouts/Layout.astro";
import Header from "src/layouts/Header.astro";
import { container_father } from '../utils/Containers';
import ComponentFather from "src/components/ComponentFather.astro";

import ComponenteDttlPddsGnrl from './pedidos/DtllPddsGnrl'
import ComponenteGraphicPdds_Gnrl from './pedidos/GraphicPddsGnrl'
import ComponenteTablePedidos from "./pedidos/TablePedidos";
---


<Layout title="Pedidos - CLO">
  <!-- Header -->
   <Header />
   <div class="flex flex-col">
    <!-- Topbar -->
    <div>
      <Topbar />
      <div class="hr-custom"></div>
    </div>

     <!-- Content -->
      <div id="content" class="w-full">
        <!-- Container #1: Pedidos -->
        <div id="container-pedidos" class={`${container_father}`}>
          <!-- Subcontainer 1.1: Detalle de pedidos generales -->
          <ComponentFather 
            title={"Detalle de pedidos generales"}
            containerId={"pedidos_1-1"}
          >
            <ComponenteDttlPddsGnrl client:load />
          </ComponentFather>

          <!-- Subcontainer 1.2: Pedidos realizados por vendedor -->
           <ComponentFather
            title={"Pedidos realizados por vendedor"}
            containerId={"pedidos_1-2"}
          >
            <ComponenteGraphicPdds_Gnrl client:load/>
          </ComponentFather>
        </div>


        <!-- Container #2: Detalle de pedidos por vendedor -->
        <div id="container-pedidos-table" class={`${container_father}`}>
          <!-- Subcontainer 2.1: Detalle de pedidos por vendedor -->
          <ComponentFather
            title={"Detalle de pedidos por vendedor"}
            containerId={"pedidos_2-1"}
          >
            <ComponenteTablePedidos client:load />
          </ComponentFather>
        </div>
      </div>
   </div>
</Layout>