---
import Topbar from "src/layouts/Topbar.astro";
import Layout from "../layouts/Layout.astro";
import Header from "src/layouts/Header.astro";
import { container_father } from '../utils/Containers';
import ComponentFather from "src/components/ComponentFather.astro";

import ComponenteDttlRclmGnrl from './reclamos/DtllRclmGnrl'
import ComponenteGraphicRclmGnrl from './reclamos/GraphicRclmGnrl'
import ComponenteTableReclamos from './reclamos/TableReclamos'
---

<Layout title="Reclamos - CLO">
  <!-- Header -->
  <Header />
  <div class="flex flex-col">
    <!-- Topbar -->
    <div>
      <Topbar />
      <div class="hr-custom"></div>
    </div>

    <!-- Content -->
    <div id="content" class="w-full">
      <!-- Container #1: Reclamos -->
      <div id="container-reclamos" class={`${container_father}`}>
        <!-- Subcontainer 1.1: Detalle de reclamos generales -->
        <ComponentFather 
          title={"Detalle de reclamos generales"}
          containerId={"reclamos_1-1"}
        >
          <ComponenteDttlRclmGnrl client:load />
        </ComponentFather>
        
        <!-- Subcontainer 1.2: Reclamos realizados por vendedor -->
        <ComponentFather 
          title={"Reclamos realizados por vendedor"}
          containerId={"reclamos_1-2"}
        >
          <ComponenteGraphicRclmGnrl client:load />
        </ComponentFather>
      </div>

      <!-- Container #2: Detalle de reclamos por vendedor -->
      <div id="container-reclamos-tables" class={`${container_father}`}>
        <!-- Subcontainer 2.1: Detalle de reclamos por vendedor -->
        <ComponentFather
          title={"Detalle de reclamos por vendedor"}
          containerId={"reclamos_2-1"}
        >
          <ComponenteTableReclamos client:load />
        </ComponentFather>
      </div>
    </div>
  </div>
</Layout>