---
import ComponentFather from "src/components/ComponentFather.astro"
import Layout from "src/layouts/Layout.astro"
import CustomTestingComponent from "src/test/TestComponent"
import ComponenteTableDaysDetail from "./home/_TableDaysDetail"
---

<Layout title="test">
  <main class="flex justify-center items-center min-w-[100dvh] min-h-[100dvh] bg-gray-400">
   
    <ComponentFather
      title={"Ventas vs Cobranza"}
      containerId={"home_3-2"}
      urlBtnText={""}
    >
      <ComponenteTableDaysDetail client:load />
    </ComponentFather>
  </main>
</Layout>