---
import Layout from "src/layouts/Layout.astro"
import { CustomGaugeChart } from "src/test/gauge"
import NewComponent from "src/test/NewComponent"
---

<Layout title="test">
  <div class="flex flex-wrap flex-row p-2 space-x-2 space-y-2">
    <NewComponent 
      client:load 
    />
  </div>
</Layout>
  
  <!-- url={import.meta.env.PUBLIC_HOST_API+import.meta.env.PUBLIC_COORD_META_VENTA}  -->