---
import IconSelect, {IconMap} from "src/components/Icons";
import { ROUTES_DATA } from "src/utils/routes";
---

<div id="topbar-menu" class="flex justify-start items-start flex-row space-x-2 py-4 mx-4">
  {ROUTES_DATA.map((item) => {
    const isActive = Astro.url.pathname === item.link;

    return (
      <div class="flex flex-col justify-center items-center space-y-1 min-w-[5rem]">
        <a
          href={item.link}
          class={`text-[2rem] border-2 border-[var(--colors-03)] rounded-2xl p-3 hover:bg-[var(--colors-03)] hover:text-[var(--colors-07)] ${isActive ? 'bg-[var(--colors-03)] text-[var(--colors-07)]' : 'bg-[var(--colors-07)] text-[var(--colors-03)]'}`}
        >
          <IconSelect iconCode={item.icon as keyof typeof IconMap} client:load />
        </a>
        <p class='font-bold text-[var(--colors-03)]'>
          {item.name}
        </p>
      </div>
    );
  })}
</div>